@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@layer base {
    :root {
        --foreground: 207 61% 10%;
        --background: 197 64% 98%;
        --primary: 204 59% 26%;
        --secondary: 248 59% 69%;
        --accent: 258 59% 49%;
    }

    .dark {
        --foreground: 208 60% 90%;
        --background: 203 67% 2%;
        --primary: 204 59% 74%;
        --secondary: 248 59% 31%;
        --accent: 258 59% 51%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    p {
        @apply text-base;
    }
}