@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}


@layer base {
    :root {
        --background: 220 26% 98%;
        --foreground: 222 20% 16%;

        --muted: 220 10% 96%;
        --muted-foreground: 222 20% 16%;

        --popover: 220 16% 96%;
        --popover-foreground: 222 20% 16%;

        --border: 222 20% 70%;
        --input: 222 20% 70%;

        --card: 220 16% 96%;
        --card-foreground: 222 20% 16%;

        --primary: 280 100% 40%;
        --primary-foreground: 220 26% 0%;

        --secondary: 225 14% 20%;
        --secondary-foreground: 222 10% 96%;

        --accent: 215 14% 80%;
        --accent-foreground: 222 20% 16%;

        --destructive: 0 80% 50%;
        --destructive-foreground: 222 20% 16%;

        --radius: 0.5rem;

        --ring: 222 20% 20%;
    }

    .dark {
        --background: 220 35% 12%;
        --foreground: 222 20% 95%;

        --muted: 220 35% 10%;
        --muted-foreground: 222 20% 80%;

        --popover: 220 16% 16%;
        --popover-foreground: 222 20% 96%;

        --border: 222 20% 40%;
        --input: 222 20% 40%;

        --card: 220 16% 16%;
        --card-foreground: 222 20% 96%;

        --primary: 280 100% 60%;
        --primary-muted: 180 100% 15%;
        --primary-foreground: 220 26% 0%;

        --secondary: 215 14% 25%;
        --secondary-foreground: 222 20% 96%;

        --accent: 215 14% 25%;
        --accent-foreground: 222 20% 96%;

        --destructive: 0 80% 50%;
        --destructive-foreground: 222 20% 96%;

        --radius: 0.5rem;

        --ring: 222 20% 40%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}