@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@layer base {
    :root {
        --foreground: 205 80% 8%;
        --background: 200 5% 95%;
        --primary: 186 52% 10%;
        --secondary: 203 82% 20%;
        --secondary-foreground: 205 79% 92%;
        --accent: 285 92% 35%;
    }
    .dark {
        --foreground: 205 79% 92%;
        --background: 207 85% 5%;
        --primary: 186 82% 32%;
        --secondary: 203 82% 20%;
        --secondary-foreground: 205 79% 92%;
        --accent: 285 92% 35%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    p {
        @apply text-base;
    }
}
